body{
    background-color: pink;
    background-image: url(../Assets/pattern-7455773_640.webp);
    background-size: 100vw 100vh
}
.container{
    background-color: mediumslateblue;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    padding:20px;
    opacity: .5
}
h1{
    margin-top:5px;
    
}
h1,h2{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
p{
    font-family: serif;
}
.established{
    text-align: center;
    margin-top: -15px;
    
}
hr{
    height: 5px;
    background-color: purple;
    border-color: black;
}
.item p{
    display: inline-block;
    margin-top:0px
}
.Computer{
    text-align: left;
    width:75%
}
.Computer:hover{
    color:purple;
    cursor:grab;
}
.Price{
    text-align: right;
    width: 25%;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
  }